{% extends 'base.html' %}

{% block content %}

<div style="border: #4f4f4f 0.5em">
    <img src="{{ item.image.url }}" alt="">
    <h3>{{ item.name }}</h3>
    <p>가격: {{ item.price }}</p>
    <p>남은 수량: {{ item.remaining }}</p>
    <p>제품 설명: {{ item.info }}</p>
    <p><a href="{% url 'detail_company' company.pk %}">거래처: {{ item.company }}</a></p>
</div>

    <input type="submit" value="수정" onclick="location.href='{% url "register_item" item.pk %}'">
    <input type="submit" value="삭제" onclick="location.href=''">
    <input type="submit" value="목록" onclick="location.href='{% url "list_item" %}'">

{% endblock %}